# File:        DRESS/.gitignore
# Authors:     Kevin Rak
# Description: This file defines the paths to be ignored by git

bin/*
docs/*
deps/*
build/*
*.user
*.autosave
QtCreatorDeployment.txt

# OCLint output files
compile_commands.json
report.html
